---
import '../../styles/base.css'
import FreelanceLayout from '../../layouts/FreelanceLayout.astro'
---

<FreelanceLayout
  title="Andrew Fauth | AVRGLOW Beats"
  description="Discover how I helped music producer AVRGLOW bring his beats to the masses with a custom website designed for direct-to-consumer sales."
>
  <h3
    class="font-redhat text-4xl md:text-5xl text-title text-center md:mb-0 lg:mb-12"
  >
    AVRG<span class="text-green-400">LOW</span> Beats
  </h3>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Client
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      AVRGLOW, is a Seattle, WA based music producer who specializes in creating
      rap beats in a variety of musical styles. His beats are then sold or
      leased to rappers who use the beats to make completed songs.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Overview
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      I was hired to build a website where AVRGLOW could sell his beats. The
      site needed to be user-friendly, visually appealing, responsive, and allow
      for users to sample and purchase music files (beats).
    </p>
    <p class="text-sm md:text-lg font-inter leading-9 mt-4">
      I enlisted the help of fellow front-end developer Nathan Wilson, and
      together we were responsible for the entire development process for the
      site.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Process
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      We started by getting an idea of the pages that the site would need to to
      include. Along with the home page, the site would need a page where users
      could browse the products available for purchase, and a checkout page as
      well.
    </p>
    <p class="text-sm md:text-lg font-inter leading-9 mt-4">
      We then created a design mock-up using Figma. After getting an idea of the
      layout and color theme, I created a custom music player that allowed users
      to listen to the client’s beats.
    </p>
    <span class="block mx-auto text-sm text-type text-center mt-8 mb-4"
      >Color theme</span
    >
    <div class="flex items-center mx-auto w-fit">
      <div class="w-10 h-10 bg-green-500"></div>
      <div class="w-10 h-10 bg-green-300"></div>
      <div class="w-10 h-10 bg-black"></div>
      <div class="w-10 h-10 bg-neutral-900"></div>
      <div class="w-10 h-10 bg-gray-400"></div>
      <div class="w-10 h-10 bg-white"></div>
    </div>
    <span class="block mx-auto text-sm text-type text-center mt-8 mb-4"
      >Music player</span
    >
    <img
      loading="lazy"
      src="https://res.cloudinary.com/recovery-ocean/image/upload/f_auto,q_auto/v1690359930/portfolio/avrglow-player_vbgis3.png"
      alt="custom music player"
      class="mx-auto mb-10"
    />
    <p class="text-sm md:text-lg font-inter leading-9 mt-4">
      Once the design was approved, we wrote the content for the site. The
      target audience for the site is aspiring rappers. To appeal to them we
      wanted to emphasize the idea of stardom and making it in the music
      industry.
    </p>
    <img
      loading="lazy"
      src="https://res.cloudinary.com/recovery-ocean/image/upload/f_auto,q_auto/v1690359661/portfolio/avrglow-content_czhhfv.png"
      alt="content example"
      class="w-2/3 mx-auto my-10"
    />
    <p class="text-sm md:text-lg font-inter leading-9 mt-4">
      After the content writing was finished, we began building the website
      using React JS and Vite. For audio file hosting we went with Cloudinary,
      and integrated Stripe payment processing to allow for secure and easy
      transactions.
    </p>
    <p class="text-sm md:text-lg font-inter leading-9 mt-4">
      After completing the website, I conducted extensive testing to ensure that
      it was user-friendly, fast-loading, and secure.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Website Features
    </h4>
    <ul class="text-xl list-disc space-y-2">
      <li>3 pages</li>
      <li>Responsive design</li>
      <li>Custom music players</li>
      <li>Cart system</li>
      <li>Stripe secure checkout</li>
      <li>Contact form</li>
      <li>License review and agreement</li>
    </ul>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Tools and Technologies
    </h4>
    <ul class="text-xl list-disc space-y-2">
      <li>React JS</li>
      <li>Vite</li>
      <li>Stripe</li>
      <li>Cloudinary</li>
      <li>React Router</li>
      <li>Jotai</li>
    </ul>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Results
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      The outcome of the project was a definite success. The client was thrilled
      with the look and feel of the site.
    </p>
    <p class="text-sm md:text-lg font-inter leading-9 mt-4">
      Users can now purchase beats directly from the client without needing to
      create an account on the website. We also made it extremely easy for the
      client to add future beats to the site.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Testimonial
    </h4>

    <figure class="max-w-screen-md mx-auto text-center">
      <blockquote>
        <p class="text-2xl italic font-medium text-white">
          "Love the website Andrew made me. Super clean design and looks great
          on a cell phone. I'll always contact Andrew when I'm wanting a new
          website."
        </p>
      </blockquote>
      <figcaption class="flex items-center justify-center mt-6 space-x-3">
        <img
          loading="lazy"
          class="w-6 h-6 rounded-full"
          src="https://cdn.discordapp.com/avatars/694807755567136820/d935b0c335b8a13a82ec6c202f7f0be3.webp?size=128"
          alt="profile picture"
        />
        <div class="flex items-center divide-x-2 divide-gray-700">
          <cite class="pr-3 font-medium text-white">AVRGLOW</cite>
          <cite class="pl-3 text-sm font-light text-gray-400"
            >Music producer</cite
          >
        </div>
      </figcaption>
    </figure>
  </div>
</FreelanceLayout>
