---
import FreelanceLayout from '../../layouts/FreelanceLayout.astro'
---

<FreelanceLayout title="Andrew Fauth | Southern Spring Cleaners">
  <h3
    class="font-redhat text-4xl md:text-5xl text-title text-center md:mb-0 lg:mb-12 lg:whitespace-nowrap"
  >
    Southern Spring Cleaners
  </h3>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Client
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      Southern Spring Cleaners is a house keeping business located in Magnolia,
      AR. Owner Angela Dowling wanted a website built for her business.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Overview
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      This client needed a simple website that detailed her business services
      and contact information.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Process
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      Figma was used to create the design mock-up. I decided to go with a one
      page site layout in this case, with a scroll based navigation.
    </p>
    <span class="block mx-auto text-sm text-type text-center mt-8 mb-4"
      >Color theme</span
    >
    <div class="flex items-center mx-auto w-fit">
      <div class="w-10 h-10 bg-purple-900"></div>
      <div class="w-10 h-10 bg-white"></div>
      <div class="w-10 h-10 bg-gray-400"></div>
      <div class="w-10 h-10 bg-purple-400"></div>
      <div class="w-10 h-10 bg-pink-100"></div>
      <div class="w-10 h-10 bg-black"></div>
    </div>
    <span class="block mx-auto text-sm text-type text-center mt-8 mb-4"
      >Hero section</span
    >
    <img
      src="https://res.cloudinary.com/dpnkrz8c8/image/upload/v1677892142/portfolio/ssc-dt1.png"
      alt="southern spring cleaners hero"
    />
    <p class="text-sm md:text-lg font-inter leading-9 mt-16">
      The content writing for this site was fairly simple. I detailed the exact
      services that Angela’s business offered as well as the prices and hours of
      operation.
    </p>
    <span class="block mx-auto text-sm text-type text-center mt-8 mb-4"
      >Price list</span
    >
    <img
      src="https://res.cloudinary.com/dpnkrz8c8/image/upload/v1677891344/portfolio/ssc-pr.png"
      alt="pricing list"
      class="mx-auto"
    />
    <p class="text-sm md:text-lg font-inter leading-9 mt-16">
      Once the site was complete I ran a Lighthouse audit and received scores
      above 90 on Performance, Accessibility, Best Practices, and SEO.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Website Features
    </h4>
    <ul class="text-xl list-disc space-y-2">
      <li>Responsive design</li>
      <li>Scroll based navigation</li>
      <li>Animation effects</li>
      <li>Social media integrations</li>
    </ul>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Tools and Technologies
    </h4>
    <ul class="text-xl list-disc space-y-2">
      <li>React JS</li>
      <li>TailwindCSS</li>
      <li>GSAP</li>
    </ul>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Results
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      For my first web development freelance project, this site turned out to be
      a success. The client’s business gained exposure and has gotten leads
      directly from the website.
    </p>
    <p class="text-sm md:text-lg font-inter leading-9 mt-4">
      I gained valuable experience from this job and was able to nail down my
      work flow when creating a website.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Testimonial
    </h4>

    <figure class="max-w-screen-md mx-auto text-center">
      <blockquote>
        <p class="text-2xl italic font-medium text-gray-900 dark:text-white">
          "I love the site that Andrew built for my business. Its beautifully
          designed and just what I wanted."
        </p>
      </blockquote>
      <figcaption class="flex items-center justify-center mt-6 space-x-3">
        <img
          class="w-6 h-6 rounded-full"
          src="https://res.cloudinary.com/dpnkrz8c8/image/upload/v1677891755/portfolio/rb6yr3gg1p7efylov8mr.jpg"
          alt="profile picture"
        />
        <div class="flex items-center divide-x-2 divide-gray-700">
          <cite class="pr-3 font-medium text-white">Angela Dowling</cite>
          <cite class="pl-3 text-sm font-light text-gray-400"
            >Owner at Southern Spring Cleaners</cite
          >
        </div>
      </figcaption>
    </figure>
  </div>
</FreelanceLayout>
