---
import FreelanceLayout from '../../layouts/FreelanceLayout.astro'
---

<FreelanceLayout
  title="Andrew Fauth | Wells Landscaping"
  description="Discover how I helped Wells Landscaping showcase their services and expertise with a custom website designed to inform and engage potential customers."
>
  <h3
    class="font-redhat text-4xl md:text-5xl text-title text-center md:mb-0 lg:mb-12"
  >
    Wells Landscaping
  </h3>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Client
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      Wells Landscaping is a landscaping company located in Olympia, WA. The
      services they provide include lawn maintenance, feature installation,
      trimming, and pruning.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Overview
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      The owner of Wells Landscaping approached me wanting a website were he
      could advertise his company’s landscaping services.
    </p>
    <p class="text-sm md:text-lg font-inter leading-9 mt-4">
      It was important to the owner that the site improve the company’s online
      visibility, inform potential customers what services the business offers,
      and allow users to easily contact them to schedule appointments.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Process
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      I started by visiting several landscaping websites to get inspiration for
      the site design. After getting an idea of how I wanted the site to look, I
      created the mock-up using Figma and submitted the design for approval.
    </p>
    <span class="block mx-auto text-sm text-type text-center mt-8 mb-4"
      >Color theme</span
    >
    <div class="flex items-center mx-auto w-fit">
      <div class="w-10 h-10 bg-emerald-900"></div>
      <div class="w-10 h-10 bg-white"></div>
      <div class="w-10 h-10 bg-gray-400"></div>
      <div class="w-10 h-10 bg-rose-700"></div>
      <div class="w-10 h-10 bg-black"></div>
      <div class="w-10 h-10 bg-green-700"></div>
    </div>
    <span class="block mx-auto text-sm text-type text-center mt-8 mb-4"
      >Hero and pricing sections</span
    >
    <div class="space-x-4 flex mx-auto w-fit">
      <img
        loading="lazy"
        src="https://res.cloudinary.com/recovery-ocean/image/upload/f_auto,g_auto/,v1690310962/portfolio/wells-mb_rpsyem.png"
        alt="wells hero mobile"
        class="w-44 mx-auto"
      />
      <img
        loading="lazy"
        src="https://res.cloudinary.com/dpnkrz8c8/image/upload/f_auto,g_auto/v1677888165/portfolio/wells-pricing.png"
        alt="wells hero mobile"
        class="w-44 mx-auto"
      />
    </div>
    <p class="text-sm md:text-lg font-inter leading-9 mt-16">
      Once the design was approved I wrote the content for the site. The client
      wanted the site to clearly detail the services they offer as well as speak
      to the fact that Wells Landscaping customers are supporting a local
      business in the Olympia area.
    </p>
    <span class="block mx-auto text-sm text-type text-center mt-8 mb-4"
      >Content example</span
    >
    <img
      loading="lazy"
      src="https://res.cloudinary.com/dpnkrz8c8/image/upload/f_auto,g_auto/v1677888193/portfolio/wells-content.png"
      alt="wells content"
      class="mx-auto"
    />
    <p class="text-sm md:text-lg font-inter leading-9 mt-16">
      I built the site using React JS and TailwindCSS with Remix as the back-end
      framework. I also used NodeMailer to email form submission made on the
      site to the clients inbox.
    </p>
    <p class="text-sm md:text-lg font-inter leading-9 mt-4">
      After completing the site I conducted extensive end-to-end tests to ensure
      the site was production ready.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Website Features
    </h4>
    <ul class="text-xl list-disc space-y-2">
      <li>4 page website</li>
      <li>Responsive design</li>
      <li>Contact form</li>
      <li>Email capturing</li>
      <li>Scrolling effects</li>
      <li>Loading state animations</li>
    </ul>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Tools and Technologies
    </h4>
    <ul class="text-xl list-disc space-y-2">
      <li>React JS</li>
      <li>Remix</li>
      <li>TailwindCSS</li>
      <li>NodeMailer</li>
      <li>GSAP</li>
      <li>Jotai</li>
    </ul>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Results
    </h4>
    <p class="text-sm md:text-lg font-inter leading-9">
      The client was impressed with the website. Unfortunately shortly after
      completion the owner shut down his business and retired.
    </p>
    <p class="text-sm md:text-lg font-inter leading-9 mt-4">
      This was one of the first sites I made for an actual client and I learned
      a lot from the experience. I was able to create a reusable NodeMailer
      service and use it for future sites.
    </p>
  </div>
  <div class="mt-10 md:mt-14">
    <h4
      class="font-redhat text-2xl md:text-3xl text-center text-type mb-4 md:mb-10"
    >
      Testimonial
    </h4>

    <figure class="max-w-screen-md mx-auto text-center">
      <blockquote>
        <p class="text-2xl italic font-medium text-white">
          "The website looks great. It’s now easy for potential customers to
          learn more about our business."
        </p>
      </blockquote>
      <figcaption class="flex items-center justify-center mt-6 space-x-3">
        <img
          class="w-6 h-6 rounded-full"
          src="https://res.cloudinary.com/dpnkrz8c8/image/upload/f_auto,g_auto/v1677890331/portfolio/fqqigeqpfjn2ccxfuput.png"
          alt="profile picture"
        />
        <div class="flex items-center divide-x-2 divide-gray-700">
          <cite class="pr-3 font-medium text-white">Larry Wells</cite>
          <cite class="pl-3 text-sm font-light text-gray-400"
            >Owner at Wells Landscaping</cite
          >
        </div>
      </figcaption>
    </figure>
  </div>
</FreelanceLayout>
