@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .hamburger-open {
    transform: rotate(-180deg);
  }
  .hamburger-open > span:nth-child(1) {
    transform: rotate(-45deg) scaleX(0.75) translate(-8px, -3px);
  }
  .hamburger-open > span:nth-child(3) {
    transform: rotate(45deg) scaleX(0.75) translate(-9px, 2px);
  }
}

@layer utilities {
  .bg-primary {
    @apply bg-mat-bg catppuccin:bg-cat-bg nightowl:bg-nightowl-bg;
  }

  .text-title {
    @apply text-gray-50 catppuccin:text-white nightowl:text-white;
  }

  .text-type {
    @apply text-neutral-400 catppuccin:text-cat-text nightowl:text-nightowl-text;
  }

  .border-primary {
    @apply border-gray-800 catppuccin:border-cat-border nightowl:border-nightowl-border;
  }
}
