---
import Layout from '../layouts/Layout.astro'
import Sparks from '../components/Sparks.astro'
import Hero from '../components/Hero.astro'
import Screentime from '../components/Screentime'
import MetaCompare from '../components/MetaCompare'
import Cribbage from '../components/Cribbage'
import CTA from '../components/CTA/CTA.astro'
import Bio from '../components/Bio/Bio'
import Freelance from '../components/Freelance'
---

<Layout
  title='Andrew Fauth'
  description='My portfolio showcases expertise in modern front-end frameworks, delivering exceptional user experiences that engage and inspire.'
>
  <main>
    <Sparks />
    <Hero />
    <MetaCompare client:visible />
    <Cribbage client:visible />
    <Screentime client:visible />
    <Freelance client:visible />
    <Bio client:visible />
    <CTA />
    <div class='pt-32'></div>
  </main>
</Layout>
