---
import Layout from '../layouts/Layout.astro'
import IntroAnim from '../components/IntroAnim.astro'
import Sparks from '../components/Sparks.astro'
import Hero from '../components/Hero.astro'
import UFO from '../components/UFO.astro'
import Screentime from '../components/Screentime'
---

<Layout title='Welcome to Astro.'>
  <main>
    <!-- <IntroAnim /> -->
    <Sparks />
    <!-- <UFO /> -->
    <Hero />

    <Screentime client:visible />

    <div class='h-screen'></div>
    <div class='h-screen'></div>
  </main>
</Layout>
