---
import "../styles/base.css"
import Layout from "../layouts/Layout.astro"
import Sparks from "../components/Sparks.astro"
import Hero from "../components/Hero.astro"
import Screentime from "../components/Screentime"
import MetaCompare from "../components/MetaCompare"
import Cribbage from "../components/Cribbage"
import CTA from "../components/CTA/CTA.astro"
import Bio from "../components/Bio/Bio"
---

<Layout title='Welcome to Astro.'>
  <main>
    <Sparks />
    <Hero />

    <Screentime client:visible />
    <MetaCompare client:visible />
    <Cribbage client:visible />
    <Bio client:visible />
    <CTA />
    <div class='h-screen'></div>
  </main>
</Layout>
