---
import InputField from './Menu/InputField.astro'
import MenuButton from './Menu/MenuButton'
---

<form
  method="post"
  data-netlify="true"
  netlify-honeypot="location"
  id="contact-form"
  class="p-10 h-full w-full lg:w-[400px] bg-neutral-800 catppuccin:bg-cat-border nightowl:bg-nightowl-border fixed left-0 top-0 z-50 duration-300 flex flex-col font-inter -translate-x-full"
>
  <p class="hidden">
    <input name="location" />
  </p>
  <svg
    id="close-btn"
    class="absolute top-4 right-4 fill-mat-red catppuccin:fill-cat-pink nightowl:fill-nightowl-orange w-6 hover:scale-110 duration-100"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 512 512"
  >
    <path
      d="M175 175C184.4 165.7 199.6 165.7 208.1 175L255.1 222.1L303 175C312.4 165.7 327.6 165.7 336.1 175C346.3 184.4 346.3 199.6 336.1 208.1L289.9 255.1L336.1 303C346.3 312.4 346.3 327.6 336.1 336.1C327.6 346.3 312.4 346.3 303 336.1L255.1 289.9L208.1 336.1C199.6 346.3 184.4 346.3 175 336.1C165.7 327.6 165.7 312.4 175 303L222.1 255.1L175 208.1C165.7 199.6 165.7 184.4 175 175V175zM0 96C0 60.65 28.65 32 64 32H448C483.3 32 512 60.65 512 96V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96zM48 96V416C48 424.8 55.16 432 64 432H448C456.8 432 464 424.8 464 416V96C464 87.16 456.8 80 448 80H64C55.16 80 48 87.16 48 96z"
    ></path>
  </svg>
  <div>
    <span
      class="text-3xl font-bold tracking-tight text-mat-red catppuccin:text-cat-pink nightowl:text-nightowl-blue block"
      >Get in touch</span
    >
    <span class="text-xs mt-1 tracking-tight text-type mb-10 block">
      * Indicates required field</span
    >
  </div>
  <div class="flex flex-col space-y-8 mb-10 md:mb-20 lg:mb-10">
    <InputField name="name" required={true} label="Name" />
    <InputField
      name="contact-info"
      required={true}
      label="Email address"
      type="email"
    />
    <InputField name="company" required={false} label="Company (optional)" />
    <InputField
      name="message"
      required={true}
      label="Message"
      textarea={{ rows: 8 }}
    />
  </div>
  <MenuButton
    client:load
    type="submit"
    text="Send it"
    className="self-end duration-200 hover:ring-2 hover:nightowl:ring hover:catppuccin:ring ring-mat-red catppuccin:ring-cat-bg nightowl:ring-nightowl-bg ring-offset-4 ring-offset-neutral-900 catppuccin:ring-offset-cat-border nightowl:ring-offset-nightowl-border"
  />
</form>

<script>
  import { settings } from '../stores/settings'

  const form = document.getElementById('contact-form') as HTMLElement
  const closeBtn = document.getElementById('close-btn') as HTMLElement

  closeBtn.addEventListener('click', () =>
    settings.setKey('showContactForm', false)
  )

  const handleOutsideClick = (e: Event) => {
    if (!form.contains(e.target as Node))
      settings.setKey('showContactForm', false)
  }

  settings.listen((v) => {
    if (v.showContactForm) {
      form.classList.remove('-translate-x-full')
      setTimeout(
        () => document.addEventListener('click', handleOutsideClick),
        100
      )
    } else {
      form.classList.add('-translate-x-full')
      document.removeEventListener('click', handleOutsideClick)
    }
  })
</script>
