---
import planet from '../assets/a.png'
import moon from '../assets/moon.jpg'
---

<div class='scale-[.6] md:scale-[.7] lg:scale-[.8] mt-12md: mt-20 lg:-mt-4'>
  <div
    id='planet'
    style={{ backgroundImage: 'url(' + planet + ')' }}
    class='planet bg-repeat-x'
  >
    <div
      id='moon'
      style={{
        backgroundImage: 'url(' + moon + ')',
      }}
      class='moon relative'
    >
      <img
        src='https://res.cloudinary.com/dpnkrz8c8/image/upload/v1670965947/portfolio/krlnaehopqzazdppgleb.svg'
        alt=''
        class='w-6 absolute -left-6'
      />
    </div>
  </div>
</div>

<style>
  .planet {
    width: 20em;
    height: 20em;
    background-size: 200% 100%;
    box-shadow: inset -2em -2em 2em #000, -0.5em -0.5em 1em rgb(54, 72, 87);
    position: relative;
    background-repeat: repeat !important;
    border-radius: 50%;
    animation: rotate 10s linear infinite;
  }
  .moon {
    width: 6em;
    height: 6em;
    position: absolute;
    left: -11em;
    top: 50%;
    animation: rotate 3s linear infinite, orbit 20s infinite ease-in-out;
    z-index: 1;
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset -1.5em -1.5em 1.5em #000, -0.2em -0.2em 0.5em #ccc;
  }
  @keyframes rotate {
    to {
      background-position: -200% 0;
    }
  }
  @keyframes orbit {
    49% {
      z-index: 1;
    }
    50% {
      left: 25em;
      top: -2em;
      z-index: -1;
    }
    99% {
      z-index: -1;
    }
    100% {
      left: -11em;
    }
  }
</style>

<script>
  import { settings } from '../stores/settings'
  import matPlanet from '../assets/a.png'
  import catPlanet from '../assets/p-cat-1.png'
  import owlPlanet from '../assets/p-nightowl-1.png'

  const planet = document.getElementById('planet') as HTMLElement

  settings.listen((v) => {
    if (v.cursor.style === 'default') {
      planet.style.backgroundImage = `url(${matPlanet})`
    }
    if (v.cursor.style === 'catppuccin') {
      planet.style.backgroundImage = `url(${catPlanet})`
    }
    if (v.cursor.style === 'nightowl') {
      planet.style.backgroundImage = `url(${owlPlanet})`
    }
  })
</script>
