---
---

<div
  id='sparks-container'
  class='h-screen w-screen absolute left-0 top-0 overflow-hidden pointer-events-none -z-10'
>
  <div
    id='sparks'
    class='absolute lg:right-10 xl:right-10 2xl:right-60 top-0 md:top-8 lg:top-20 xl:top-32 flex space-x-1 sm:space-x-2 md:space-x-4 lg:space-x-6 xl:space-x-6 w-fit left-0 right-0 lg:left-auto mx-auto'
  >
    <span style='--i:11;'></span>
    <span style='--i:12;'></span>
    <span style='--i:24;'></span>
    <span style='--i:10;'></span>
    <span style='--i:14;'></span>
    <span style='--i:23;'></span>
    <span style='--i:18;'></span>
    <span style='--i:16;'></span>
    <span style='--i:19;'></span>
    <span style='--i:20;'></span>
    <span style='--i:22;'></span>
    <span style='--i:25;'></span>
    <span style='--i:18;'></span>
    <span style='--i:21;' class='xl:block'></span>
    <span style='--i:15;' class='xl:block'></span>
    <span style='--i:13;' class='xl:block'></span>
    <span style='--i:26;' class='hidden xl:block'></span>
    <span style='--i:17;' class='hidden xl:block'></span>
    <span style='--i:13;' class='hidden xl:block'></span>
  </div>
</div>

<style>
  #sparks span {
    position: relative;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    animation: float 5s linear infinite;
    animation-duration: calc(125s / var(--i));
    z-index: -5;
  }

  @keyframes float {
    0% {
      transform: translateY(100vh) scale(0);
    }
    100% {
      transform: translateY(-10vh) scale(0.6);
    }
  }
</style>
