---
---

<div
  id='sparks-container'
  class='h-screen w-screen absolute left-0 top-0 overflow-hidden pointer-events-none -z-10'
>
  <div
    id='sparks'
    class='absolute lg:right-0 xl:right-20 top-0 flex space-x-1 sm:space-x-2 md:space-x-4 lg:space-x-6 xl:space-x-6 w-fit left-0 right-0 lg:left-auto mx-auto'
  >
    <span style='--i:11;'></span>
    <span style='--i:12;'></span>
    <span style='--i:24;'></span>
    <span style='--i:10;'></span>
    <span style='--i:14;'></span>
    <span style='--i:23;'></span>
    <span style='--i:18;'></span>
    <span style='--i:16;'></span>
    <span style='--i:19;'></span>
    <span style='--i:20;'></span>
    <span style='--i:22;'></span>
    <span style='--i:25;'></span>
    <span style='--i:18;'></span>
    <span style='--i:21;' class='xl:block'></span>
    <span style='--i:15;' class='xl:block'></span>
    <span style='--i:13;' class='xl:block'></span>
    <span style='--i:26;' class='hidden xl:block'></span>
    <span style='--i:17;' class='hidden xl:block'></span>
    <span style='--i:13;' class='hidden xl:block'></span>
    <!-- <span style='--i:28;' class='hidden xl:block'></span>
    <span style='--i:11;' class='hidden xl:block'></span>
    <span style='--i:12;' class='hidden xl:block'></span>
    <span style='--i:24;' class='hidden xl:block'></span> -->
    <!-- <span style='--i:10;' class='hidden xl:block'></span> -->
    <!-- <span style='--i:14;' class='hidden xl:block'></span> -->
    <!-- <span style='--i:23;'></span> -->
    <!-- <span style='--i:18;'></span> -->
    <!-- <span style='--i:16;'></span> -->
    <!-- <span style='--i:19;'></span> -->
    <!-- <span style='--i:20;'></span> -->
    <!-- <span style='--i:22;'></span> -->
    <!-- <span style='--i:25;'></span> -->
    <!-- <span style='--i:18;'></span> -->
    <!-- <span style='--i:21;'></span> -->
    <!-- <span style='--i:15;'></span> -->
    <!-- <span style='--i:13;'></span> -->
    <!-- <span style='--i:26;'></span> -->
    <!-- <span style='--i:17;'></span> -->
    <!-- <span style='--i:13;'></span> -->
    <!-- <span style='--i:28;'></span> -->
  </div>
</div>

<style>
  #sparks span {
    position: relative;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    /* background-color: rgb(4, 61, 87); */
    /* box-shadow: 0 0 0 10px #032e3844, 0 0 30px #0e6c81, 0 0 100px #0b3a77; */
    animation: float 5s linear infinite;
    animation-duration: calc(125s / var(--i));
    z-index: -5;
  }

  /* #sparks span:nth-child(even) {
    background-color: #cf63e79d;
    box-shadow: 0 0 0 10px #57082344, 0 0 50px #8f1385, 0 0 100px #700a74;
  } */

  @keyframes float {
    0% {
      transform: translateY(100vh) scale(0);
    }
    100% {
      transform: translateY(-10vh) scale(0.6);
    }
  }
</style>
