<div class='ufo-container w-fit scale-75 absolute top-44 right-0'>
  <div class='box'>
    <div class='top-cover'>
      <div class='belt'>
        <div class='dots'>
          <span style='--i:1;'></span>
          <span style='--i:2;'></span>
          <span style='--i:3;'></span>
          <span style='--i:4;'></span>
          <span style='--i:5;'></span>
          <span style='--i:6;'></span>
        </div>
      </div>
      <div class='glass'></div>
    </div>
    <div class='bottom-light'>
      <div class='dots'>
        <span style='--i:1;'></span>
        <span style='--i:2;'></span>
        <span style='--i:3;'></span>
        <span style='--i:4;'></span>
        <span style='--i:5;'></span>
        <span style='--i:6;'></span>
      </div>
      <div class='light'></div>
    </div>
  </div>
</div>

<style>
  .box {
    position: relative;
    width: 400px;
    height: 100px;
    background: linear-gradient(#b1afaf, #666666);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-top: 1px solid white;
  }
  .box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #666666;
    top: 50%;
    transform: translateY((-50%));
    box-shadow: 0 1px 3px rgba(0, 0, 0.6), 0 -1px 3px rgba(255, 255, 255, 0.2);
  }
  .box .top-cover {
    position: relative;
    width: 150px;
    left: 50%;
    top: -8px;
    transform: translateX(-50%);
  }
  .box .top-cover .belt {
    position: absolute;
    width: 150px;
    height: 15px;
    background: linear-gradient(
      90deg,
      #b1afaf,
      #b9b8b8,
      #cacaca,
      #cacaca,
      #b9b8b8,
      #b1afaf
    );
  }
  .box .top-cover .glass {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
    top: -60px;
    border-radius: 100px 100px 0 0;
    border-top: 0.1px solid white;
  }
  .box .glass:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    top: 10px;
    left: 70px;
    filter: blur(20px);
  }
  .box .bottom-light {
    position: absolute;
    width: 140px;
    height: 20px;
    background: linear-gradient(
      90deg,
      #666666,
      #757575,
      #949494,
      #757575,
      #666666
    );
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;
  }
  .box .bottom-light .light {
    position: absolute;
    width: 220px;
    height: 0;
    border-bottom: 240px solid #ffff66;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    bottom: -240px;
    left: -38px;
  }
  .box .bottom-light .light::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 50px;
    background: #e9e943;
    left: -60px;
    bottom: -265px;
    border-radius: 50%;
  }
  .box .top-cover .belt .dots {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box .top-cover .belt .dots span {
    width: 10px;
    height: 10px;
    background: #949494;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3),
      -1px -1px 2px rgba(255, 255, 255, 0.3);
    animation: blink 1s linear infinite;
    animation-delay: calc(var(--i) * 0.3s);
  }
  .box .bottom-light .dots {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box .bottom-light .dots span {
    width: 10px;
    height: 10px;
    background: #949494;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3),
      -1px -1px 2px rgba(255, 255, 255, 0.3);
    animation: blink 1s linear infinite;
    animation-delay: calc(var(--i) * 0.2s);
  }
  @keyframes blink {
    0% {
      background: yellow;
      box-shadow: 0 0 5px yellow;
    }
    25% {
      background: red;
      box-shadow: 0 0 5px red;
    }
    50% {
      background: lightgreen;
      box-shadow: 0 0 5px lightgreen;
    }
    75% {
      background: teal;
      box-shadow: 0 0 5px teal;
    }
    100% {
      background: chartreuse;
      box-shadow: 0 0 5px chartreuse;
    }
  }
</style>
