---
import '../styles/base.css'
import ContactForm from '../components/ContactForm.astro'
import CustomCursor from '../components/CustomCursor'
import Header from '../components/Header'
export interface Props {
  title: string
}
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="My portfolio showcases expertise in modern front-end frameworks, delivering exceptional user experiences that engage and inspire."
    />
    <link rel="icon" type="image/svg+xml" href="/src/assets/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="true"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Red+Hat+Mono:wght@200;300;500&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-primary cursor-none overflow-x-hidden scroller-smooth">
    <CustomCursor client:only />
    <Header client:only />
    <ContactForm />
    <slot />
  </body>
</html>

<script>
  import { settings } from '../stores/settings'
  import faviconDefault from '../../src/assets/favicon.png'
  import faviconCatppuccin from '../../src/assets/favicon_catppuccin.png'
  import faviconNightowl from '../../src/assets/favicon_nightowl.png'

  const body = document.querySelector('body') as HTMLElement
  const html = document.querySelector('html') as HTMLElement
  let themes = ['default', 'material', 'catppuccin', 'nightowl']

  const icon = document.querySelector('link[rel="icon"]') as HTMLLinkElement

  settings.subscribe((v) => {
    let theme = v.cursor.style
    themes.forEach((t) => html.classList.remove(t))
    if (theme !== 'none') {
      html.classList.add(theme)
    } else {
      body.classList.add('cursor-none')
      body.classList.remove('cursor-none')
    }

    if (v.cursor.style == 'default') {
      icon.href = faviconDefault
    }
    if (v.cursor.style == 'catppuccin') {
      icon.href = faviconCatppuccin
    }
    if (v.cursor.style == 'nightowl') {
      icon.href = faviconNightowl
    }
  })
</script>

<style>
  body {
    background-image: radial-gradient(rgb(39, 39, 39) 1px, transparent 0);
    background-size: 60px 60px;
    background-position: -19px -19px;
  }
</style>
